<div class="homepage">
    <mat-card class="example-card">
        <b>NEW USER REGISTRATION</b>
        <mat-card-content class="loginField">

            <mat-form-field appearance="outline">
                <input matInput placeholder="Enter Your name" [(ngModel)]="newUser.email" required>
            </mat-form-field>

            <mat-form-field appearance="outline">    
                <input matInput placeholder="Your Username" [(ngModel)]="newUser.userName" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input matInput placeholder="Password" [(ngModel)]="newUser.password" [type]="hide ? 'password' : 'text'" required>
            </mat-form-field>
            
            <mat-form-field appearance="outline">    
                <input matInput placeholder="Your Phone number" [(ngModel)]="newUser.phoneNumber" required>
            </mat-form-field>

        </mat-card-content>
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
      </mat-card>
    </div>
    
    